{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><strong>
    	{{ player_record.first_name }} 
		{{ player_record.last_name }}</strong>
  </div>
  <div class="card-body">

    <p class="card-text">
    <strong>ID: </strong>{{ player_record.id }}</p>

    <p class="card-text">
    <strong>Gender: </strong>{{ player_record.gender }}</p>
  
    <p class="card-text">
    <strong>Email: </strong>{{ player_record.email }}</p>

    <p class="card-text">
    <strong>Phone: </strong>{{ player_record.phone }}
    </p>

    <p class="card-text">
    <strong>Reg_No: </strong>{{ player_record.reg_no }}</p>

    <p class="card-text">
    <strong>Course: </strong>{{ player_record.course }}</p>

    <p class="card-text">
    <strong>Role: </strong>{{ player_record.role }}</p>

    
    <p class="card-text">
    <strong>Create At: </strong>{{ player_record.created_at }}</p>

    </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_player' player_record.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_player' player_record.id %}" class="btn btn-secondary">Update Record</a>
		

{% endblock %}