{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}


<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Reg_No</th>
      <th scope="col">Course</th>
      <th scope="col">Role</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
    
{% if players %}
	{% for player in players %}
		<tr>
      <td><a href="{% url 'player' player.id %}">{{ player.id }}</a></td>
			<td>{{ player.first_name }} {{ player.last_name }}</td>
			<td>{{ player.gender }}</td>
      <td>{{ player.email }}</td>
			<td>{{ player.phone }}</td>
			<td>{{ player.reg_no }}</td>
			<td>{{ player.course }}</td>
			<td>{{ player.role }}</td>
			<td>{{ player.created_at }}</td>
		</tr>
	{% endfor %}

{% endif %}

	
	</tbody>
</table>

<!-- Female Players Table -->
<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Reg_No</th>
      <th scope="col">Course</th>
      <th scope="col">Role</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
    {% if female_players %}
      {% for player in female_players %}
      <tr>
        <td><a href="{% url 'player' player.id %}">{{ player.id }}</a></td>
        <td>{{ player.first_name }} {{ player.last_name }}</td>
        <td>{{ player.gender }}</td>
        <td>{{ player.email }}</td>
        <td>{{ player.phone }}</td>
        <td>{{ player.reg_no }}</td>
        <td>{{ player.course }}</td>
        <td>{{ player.role }}</td>
        <td>{{ player.created_at }}</td>
      </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>

{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>



{% endif %}

{% endblock %}