{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}


<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Reg_No</th>
      <th scope="col">Course</th>
      <th scope="col">Role</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
  {% if male_players %}
	  {% for male_player in male_players %}
		<tr>
      <td><a href="{% url 'male_player_record' male_player.id %}">{{ male_player.id }}</a></td>
			<td>{{ male_player.first_name }} {{ male_player.last_name }}</td>
			<td>{{ male_player.gender }}</td>
      <td>{{ male_player.email }}</td>
			<td>{{ male_player.phone }}</td>
			<td>{{ male_player.reg_no }}</td>
			<td>{{ male_player.course }}</td>
			<td>{{ male_player.role }}</td>
			<td>{{ male_player.created_at }}</td>
		</tr>
	  {% endfor %}
  {% endif %}
	</tbody>
</table>

<!-- Female Players Table -->
<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Reg_No</th>
      <th scope="col">Course</th>
      <th scope="col">Role</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
    {% if female_players %}
      {% for female_player in female_players %}
      <tr>
        <td><a href="{% url 'female_player_record' female_player.id %}">{{ female_player.id }}</a></td>
        <td>{{ female_player.first_name }} {{ female_player.last_name }}</td>
        <td>{{ female_player.gender }}</td>
        <td>{{ female_player.email }}</td>
        <td>{{ female_player.phone }}</td>
        <td>{{ female_player.reg_no }}</td>
        <td>{{ female_player.course }}</td>
        <td>{{ female_player.role }}</td>
        <td>{{ female_player.created_at }}</td>
      </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>

{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>



{% endif %}

{% endblock %}