<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">BU VOLLEYBALL CLUB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_male_player' %}">Add Male Player</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_female_player' %}">Add Female Player</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

        {% if request.resolver_match.url_name == 'home' %}

        <div class="d-flex ms-auto me-2">
          <form class="d-flex" method="GET" action="{% url 'search_male_player' %}">
            <input class="form-control me-2" type="text" placeholder="Search Male Player">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
        

        {% endif %}

        {% if request.resolver_match.url_name == 'jaguars' %}

        <form class="d-flex" method="GET" action="{% url 'search_female_player' %}">
          <input class="form-control me-2" type="text" placeholder="Search Female Player">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        {% endif %}

        {% else %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Login</a>
        </li>

        {% endif %}
      </ul>

    </div>
  </div>
</nav>
