{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><strong>
    	{{ player_record.first_name }} 
		{{ player_record.last_name }}</strong>
  </div>
  <div class="card-body">

    <p class="card-text">
    <strong>ID: </strong>{{ player_record.id }}</p>

    <p class="card-text">
    <strong>Email: </strong>{{ player_record.email }}</p>

    <p class="card-text">
    <strong>Phone: </strong>{{ player_record.phone }}
    </p>

    <p class="card-text">
    <strong>Address: </strong>{{ player_record.address }}</p>

    <p class="card-text">
    <strong>City: </strong>{{ player_record.city }}</p>

    <p class="card-text">
    <strong>State: </strong>{{ player_record.state }}</p>

    <p class="card-text">
    <strong>Zipcode: </strong>{{ player_record.zipcode }}</p>

    <p class="card-text">
    <strong>Create At: </strong>{{ player_record.created_at }}</p>

    </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_player' player_record.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_player' player_record.id %}" class="btn btn-secondary">Update Record</a>
		

{% endblock %}